@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700;800&display=swap');

$primaryColor: #0FABBC;
$primaryColor_ligth: #E4F9FF;
$secondaryColor: #EA2A2A;
$secondaryColor_ligth: #F25656;
$tertiaryColor: #12CAD6;
$darkColor: #4A4A4A;
$mainFont: 'Dosis', sans-serif;