@import '../utils/Imports.scss';

.product {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }

  .product:hover ~ .product {
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }

  .container:hover .product:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }

.product_top {
    height: 70%;
    background-color: $primaryColor_ligth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_top-discount {
  background-color: $secondaryColor;
  position: absolute;
  top: 20px;
  left: 0px;
  border-radius: 0 7px 7px 0;
  height: 35px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_top-discount {
  color: #ffffff;
  font-size: 15px;
}

.product_top-cart {
  max-width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  transition: 450ms all;
}

.product_top-cart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product_top-image {
  max-width: 80%;
}

.product_bottom {
    height: calc(30% - 20px);
    background-color: $primaryColor;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_bottom-name {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}

.price {
  color: #ffffff;
  align-self: flex-end;
}

.oldPrice {
  text-decoration: line-through;
  font-size: 12px;
  -ms-transform: rotate(-5deg); /* IE 9 */
  transform: rotate(-5deg);
}
  