@import '../utils/Imports.scss';

.carousel {
    overflow: scroll;
    padding-left: 30px;
    width: calc(100% - 30px);
    position: relative;
  } 

  .container {
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    padding-bottom: 20px;
  }
  
  .container:hover .product {
    opacity: 0.7;
  }