@import "../utils/Imports.scss";

.cartItem {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primaryColor_ligth;
  border-radius: 10px;
  margin: 10px 0;
}

.cartItem_image {
  width: 10%;
}

.cartItem_image img {
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 5px;
  border: 5px solid $darkColor;
  border-radius: 5px;
  background-color: #ffffff;
}

.cartItem_name {
  width: 32%;
  margin: 2%;
}

.cartItem_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
}

.cartItem_amount-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.moreAmount {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid $darkColor;
  margin-bottom: 5px;
  cursor: pointer;
}

.lessAmount {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid $darkColor;
  margin-top: 5px;
  cursor: pointer;
}

.cartItem_price {
  display: flex;
  justify-content: center;
  width: 36%;
  font-size: 14px;
}

.remove {
  cursor: pointer;
  color: $secondaryColor;
  width: 10%;
}
