@import "../utils/Imports.scss";

.cartCheckCont {
  background-color: $tertiaryColor;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartCheck_details {
  background-color: $primaryColor_ligth;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.cartCheck_details-summaryItem {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.cartCheckSeparator {
  border: 0.2px solid $darkColor;
  width: 80%;
}

.cartCheck_details-totalPrice {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.cartCheck_proceed {
  width: calc(100% + 60px);
  background-color: $primaryColor;
  padding: 30px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
