@import '../utils/Imports.scss';

@keyframes nudge {
    0%, 50%, 100% {
      transform: translate(0, 0);
    }
    
    25% {
      transform: translate(200px, 0);
    }
    
    75% {
      transform: translate(-200px, 0);
    }
  }

.notFound {
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound_text {
    color: #ffffff;
    background-color: $secondaryColor;
    padding: 50px;
    border-radius: 10px; 
    animation: nudge 10s linear infinite alternate;

}