.emptyCart {
    margin-top: 50px;
}

.cartPage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cartItems {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartCheck {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}