@import '../../utils/Vars.scss';

.adminHeaderCont {
    height: $headerHeigth;
}

.adminHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $headerHeigth;
    background-color: $primaryColor;
    position: fixed;
}

.adminHeader img {
    height: calc(#{$headerHeigth} - 5px);
    width: auto;
}