@import '../../utils/Vars.scss';

.header {
    display: flex;
    justify-content: center;
    height: 150px;
}

.headerCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    height: 150px;
    border-radius: 0 0 20px 20px;
    position: fixed;
    justify-self: center;
    z-index: 1;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_image {
    max-width: 300px;
}

.menuCont {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_item a{
    color: #ffffff;
}

.cart {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 450ms all;  
}

.cart:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

.cart_image {
    max-width: 80px;
}

.cartCount {
    height: 40px;
    width: 40px;
    background-color: $secondaryColor;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
  }