$primaryColor: #0FABBC;
$primaryColor_ligth: #E4F9FF;
$secondaryColor: #EA2A2A;
$secondaryColor_ligth: #F25656;
$tertiaryColor: #12CAD6;
$darkColor: #4A4A4A;
$mainFont: neue-haas-grotesk-text, sans-serif;


// HEADER

$headerHeigth: 35px;